body,html{

    margin: 0;
    padding: 0;
}

.background{
    background-color: #0E2954;

}

.header_container{
    display: flex;
    flex-direction: row;

    justify-content:space-between;
    align-items: center;
    height: 50px;
    background-color: #0E2954;
}

#my_name{
    min-width: 300px;
    margin-left: 2rem;


}
.button_menu{
    display: none;
    margin-right: 2rem;
    border-radius: 10px;
    border: none;
    background-color: #0E2954;
    cursor: pointer;

}
.menu_hamburger{
    display: none;
    flex-direction: column;
    gap:1rem;
    color: white;
    text-align: center;
    transition: 2s;
    animation: fadeIn 0.3s;
    border-bottom-left-radius: 20px;
    position: absolute;

    z-index: 1;
    right: 0;
    margin-top: 440px;



    background-color: #0E2954;
}

.single_header_link_hamburger{
    margin-top: 3rem;

}


.menu_hamburger a{
    text-decoration: none;
    color: white;
    margin: 1.5rem;



}
.navigation_links{
    margin-right: 2rem;
}
.single_header_link{
    color: white;
    margin-left: 0.5rem;
}

.single_header_link,.title_link{
    text-decoration: none;
    color: white;
}

.svg_hamburger{
    height: 30px;
    width: 30px;

}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.main_body_container{
    display: flex;
    flex-direction: column;
    gap:5rem;
}

.about_me{
    text-align: center;
    margin-bottom: 3rem;
    min-height: 100px;


}
.hello_container{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
    justify-content: space-between;

}
.hello_container_description{

    max-width: 40%;
}
.image_description{

    width: 300px;
    height: 500px;
    border-radius: 20px;


}

.qualifications_container{

    display: flex;
    flex-direction: column;
    text-align: center;


}


.upper_menu_stack,.lower_menu_stack{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem;
    text-align: center;
    gap:5rem;
    flex-wrap: wrap;


}

.tech_stack_grid{

    display: flex;
    flex-direction: column;
    text-align: center;


}


.frontend_technologies_container{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 200px 200px;
}
.backend_technologies_container{

    display: grid;
    grid-template-columns: 200px 200px ;
    grid-template-rows: 200px 200px;

}
.tech_stack_grid{

    background-color: #02a9f7;
}

.backend_element{

    border: 3px solid red;
}


/*
###########################################################################
 */

@media (width< 1000px) {

    .navigation_links{display: none}
    .button_menu{display: flex}



}


@media (width< 700px) {

    .navigation_links{display: none}
    .button_menu{display: flex}
    .hello_container{flex-direction: column}
    .hello_container_description{max-width: 80%}
    .upper_menu_stack{flex-direction: column;
    text-align: center}



}

